* {
    font-family: 'Lato', sans-serif;
    font-weight: 100px;
    color: #fff;
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-padding, 60px);
}

body {
    background: #003d74;
    width: 100%;
}

.nav {
    display: inline-block;
    position: fixed;
    z-index: 50;
    top: 0;
    height: 50px;
    width: 100%;
    background: #162B4E;
    text-align: center;
}

.nav__responsive-ul__button-container {
    position: absolute;
    z-index: 30;
    background: #162B4E;
    width: 100%;
    font-size: 20px;
}

.nav__responsive-ul__button {
    width: 100%;
    padding: 0px 9px;
}

.nav__responsive-ul {
    display: none;
}

.nav__responsive-ul__li {
    width: 100%;
    color: #fff;
    font-size: 25px;
    padding: 20px;
}

.nav__ul-li {
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    margin-top: 3px;
    padding: 9px;
}

.nav__ul-li a, .nav__responsive-ul__li a {
    text-decoration: none;
}

.nav__responsive-ul__li a:hover {
    border-bottom: 2px solid #fff;
    padding-bottom: 3px;
}

.nav__ul-li a:hover{
    border-bottom: 2px solid #fff;
    padding-bottom: 3px;
}

.flex-container-home {
    display: flex;
    flex-wrap: 1;
    margin-top: 100px;
}

.flex-container-home__img-container {
    display: flex;
    flex: 1;
    padding: 10px;
    min-width: 300px;
    max-width: 400px;
}

.flex-container-home__img {
    width: 75%;
    margin: auto;
    margin-left: 50%;
    border: 20px solid #162B4E;
    border-radius: 50%;
}

.flex-container-home__form {
    width: 100%;
    position: absolute;
    top: 500px;
    left: 280px;
}

.flex-container-home__button {
    display:block;
    margin-left:-200px;
    margin-top:440px;
    width: 100%;
    height: 15%;
    border: none;
    background: #00315d;
    color: #fff;
    font-weight: bold;
}

.flex-container-home__button:hover {
    border-bottom: 3px solid #1a5;
}

.flex-container-home__button:active {
    background: #002343;
}

.flex-container-home__button:hover {
    cursor: pointer;
}

.flex-container-home__about {
    margin-left: 250px;
    width: 600px;
    background: #00315d;
}

.flex-container-home__about h1 {
    text-align: center;
}

.flex-container-home__about h2 {
    text-align: center;
    font-size: 20px;
}

.flex-container-home__about h2:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 90%;
    padding-top: 5px;
    border-bottom: 2px solid #fff;
}

.flex-container-home__about-info {
    margin-top: 15px;
}

.flex-container-home__about-info h3 {
    margin: 5px 0px;
    margin-left: 5px;
    display: inline-block;
    border-bottom: 2px solid #fff;
}

.flex-container-home__about-info-p1 {
    padding: 5px;
}

.flex-container-home__about-info-p1:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 90%;
    padding-top: 20px;
    border-bottom: 2px solid #fff;
}

.flex-container-home__about-info-post-p1 {
    padding-top: 20px;
}

.flex-container-home__about-info-post-p1-p {
    text-align: center;
    display: inline;
}

.grid-container-hab {
    margin-top: 150px;
    margin-left: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: (2, 1fr);
    grid-template-areas: "tec prof"
                         "hob idiom";
    grid-gap: 20px;
}

.grid-item-tec {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: (2, 1fr);
    grid-template-areas: "ht ht"
                         "len mot";
    width: 500px;
    height: 210px;
    padding-right: 10px;
    padding-top: 10px;
    grid-area: tec;
    background: #00315d;
}

.grid-item-tec-ht {
    grid-area: ht;
}

.grid-item-tec-len {
    margin-left: 40px;
    grid-area: len;
}

.grid-item-tec-len h3 {
    display: inline-block;
    padding: 3px 0px;
    border-bottom: 2px solid #fff;
}

.grid-item-tec-mot {
    margin-left: 30px;
    grid-area: mot;
}

.grid-item-tec-mot h3 {
    display: inline-block;
    padding: 3px 0px;
    border-bottom: 2px solid #fff;
}

.grid-item-tec-ht, .grid-item-prof h2, .grid-item-hob h2, .grid-item-idiom h2 {
    text-align: center;
}

.grid-item-tec h2:after, .grid-item-prof h2:after, .grid-item-hob h2:after, .grid-item-idiom h2:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 90%;
    padding-top: 5px;
    border-bottom: 2px solid #fff;
}

.grid-item-prof {
    grid-area: prof;
    width: 500px;
    height: 210px;
    padding-top: 10px;
    background: #00315d;
}

.grid-item-prof ul, .grid-item-hob ul, .grid-item-idiom ul {
    margin-top: 10px;
    margin-left: 40px;
}

.grid-item-hob {
    grid-area: hob;
    width: 500px;
    height: 120px;
    padding-top: 5px;
    background: #00315d;
}

.grid-item-idiom {
    grid-area: idiom;
    width: 500px;
    height: 120px;
    padding-top: 5px;
    background: #00315d;
}

@media only screen and (max-width: 767px){
    .nav__ul {
        display: none;
    }
    .nav {
        height: 40px;
        width: 100%;
    }
    .nav__responsive-ul {
        display: block;
        width: 100%;
        text-align: left;
        position: absolute;
        margin-top: 10px;
        height: 40px;
    }

    .nav__responsive-ul__li-container {
        position: relative;
        z-index: 10;
        top: -3000px;
        height: calc(100vh - 37px);
        background-color: #012a4e; 
        width: 50%;
        padding-top: 20px;
        transition: all 1s;
    }

    .nav__responsive-ul:hover > .nav__responsive-ul__li-container {
        display: block;
        top: 30px;
    }

    .flex-container-home {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .flex-container-home__img {
        margin: auto;
    }

    .flex-container-home__button {
        height: 70px;
        margin-top: 470px;
    }

    .flex-container-home__about {
        margin: auto;
        text-align: center;
        width: 280px;
        height: 570px;
    }

    .grid-container-hab {
        display: grid;
        margin-top: 30px;
        margin-left: 40px;
        grid-template-rows: (4, 1fr);
        grid-template-areas: "tec" 
                            "prof"
                            "hob" 
                            "idiom";
    }

    .grid-item-tec, .grid-item-prof, .grid-item-hob, .grid-item-idiom {
        width: 280px;
    }

    .grid-item-hob, .grid-container-idiom {
        height: 150px;
    }

    .grid-item-prof ul, .grid-item-hob ul, .grid-item-idiom ul {
        margin-left: 25px;
    }
}