* {
    font-family: 'Lato', sans-serif;
    font-weight: 100px;
    color: #fff;
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-padding, 100px);
}

body {
    background: #003d74;
    width: 100%;
}

.nav {
    display: inline-block;
    position: fixed;
    z-index: 50;
    top: 0;
    height: 50px;
    width: 100%;
    background: #162B4E;
    text-align: center;
}

.nav__responsive-ul__button-container {
    position: absolute;
    z-index: 30;
    background: #162B4E;
    width: 100%;
    font-size: 20px;
}

.nav__responsive-ul__button {
    width: 100%;
    padding: 0px 9px;
}

.nav__responsive-ul {
    display: none;
}

.nav__responsive-ul__li {
    width: 100%;
    color: #fff;
    font-size: 25px;
    padding: 20px;
}

.nav__ul-li {
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    margin-top: 3px;
    padding: 9px;
}

.nav__ul-li a, .nav__responsive-ul__li a {
    text-decoration: none;
}

.nav__responsive-ul__li a:hover {
    border-bottom: 2px solid #fff;
    padding-bottom: 3px;
}

.nav__ul-li a:hover{
    border-bottom: 2px solid #fff;
    padding-bottom: 3px;
}

.flex-container-home {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
}

.flex-container-home__img-container {
    display: flex;
    flex: 1;
    padding: 10px;
    min-width: 250px;
}

.flex-container-home__img {
    width: 250px;
    margin: auto;
    margin-left: 50%;
    border: 20px solid #162B4E;
    border-radius: 50%;
}

.flex-container-home__form {
    width: 100%;
    position: absolute;
    top: 500px;
    left: 280px;
}

.flex-container-home__button {
    position: absolute;
    top: 500px;
    left: 18%;
    width: 150px;
    height: 60px;
    border: none;
    background: #00315d;
    color: #fff;
    font-weight: bold;
}

.flex-container-home__button:hover {
    box-shadow: 0px 3px 0 #1a5;
}

.flex-container-home__button:active {
    background: #002343;
}

.flex-container-home__button:hover {
    cursor: pointer;
}

.flex-container-home__about {
    margin-left: 250px;
    margin-right: 70px;
    width: 600px;
    background: #00315d;
}

.flex-container-home__about h1 {
    text-align: center;
}

.flex-container-home__about h2 {
    text-align: center;
    font-size: 20px;
}

.flex-container-home__about h2:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 90%;
    padding-top: 5px;
    border-bottom: 2px solid #fff;
}

.flex-container-home__about-info {
    margin-top: 15px;
}

.flex-container-home__about-info h3 {
    margin: 5px 0px;
    margin-left: 5px;
    display: inline-block;
    border-bottom: 2px solid #fff;
}

.flex-container-home__about-info-p1 {
    padding: 5px;
}

.flex-container-home__about-info-p1:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 90%;
    padding-top: 20px;
    border-bottom: 2px solid #fff;
}

.flex-container-home__about-info-post-p1 {
    padding-top: 20px;
    padding-bottom: 5px;
}

.flex-container-home__about-info-post-p1 h3 {
    margin-left: 5px;
}

.flex-container-home__about-info-post-p1-p {
    text-align: center;
    display: inline;
}

.grid-container-hab {
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: (2, 1fr);
    grid-template-areas: "tec prof"
                         "hob idiom";
    grid-gap: 20px;
}

.grid-item-hab__tec {
    display: grid;
    justify-self: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: (2, 1fr);
    grid-template-areas: "ht ht"
                         "len mot";
    width: 500px;
    height: 210px;
    padding-right: 10px;
    padding-top: 10px;
    grid-area: tec;
    background: #00315d;
}

.grid-item-hab__tec-ht {
    grid-area: ht;
}

.grid-item-hab__tec-len {
    margin-left: 40px;
    grid-area: len;
}

.grid-item-hab__tec-len h3 {
    display: inline-block;
    padding: 3px 0px;
    border-bottom: 2px solid #fff;
}

.grid-item-hab__tec-mot {
    margin-left: 30px;
    grid-area: mot;
}

.grid-item-hab__tec-mot h3 {
    display: inline-block;
    padding: 3px 0px;
    border-bottom: 2px solid #fff;
}

.grid-item-hab__tec-mot ul, .grid-item-hab__tec-len ul {
    padding-top: 6px;
}

.grid-item-hab__prof {
    grid-area: prof;
    align-self: center;
    justify-self: center;
    width: 500px;
    height: 210px;
    padding-top: 10px;
    background: #00315d;
}

.grid-item-hab__hob {
    grid-area: hob;
    align-self: center;
    justify-self: center;
    width: 500px;
    height: 120px;
    padding-top: 5px;
    background: #00315d;
}

.grid-item-hab__idiom {
    grid-area: idiom;
    align-self: center;
    justify-self: center;
    width: 500px;
    height: 120px;
    padding-top: 5px;
    background: #00315d;
}

.grid-item-hab__tec-ht, .grid-item-hab__prof h2, .grid-item-hab__hob h2, .grid-item-hab__idiom h2 {
    text-align: center;
}

.grid-item-hab__tec h2:after, .grid-item-hab__prof h2:after, .grid-item-hab__hob h2:after, .grid-item-hab__idiom h2:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 90%;
    padding-top: 5px;
    border-bottom: 2px solid #fff;
}

.grid-item-hab__prof ul, .grid-item-hab__hob ul, .grid-item-hab__idiom ul {
    margin-top: 10px;
    margin-left: 40px;
}

.grid-container-exp {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: (2, 1fr);
    grid-template-areas: "ed conc"
                         "lab lab";
    grid-gap: 20px;
}

.grid-item-exp__ed {
    width: 500px;
    height: 230px;
    padding: 10px;
    justify-self: center;
    background: #00315d;
    grid-area: ed;
}

.grid-item-exp__conc {
    width: 500px;
    height: 230px;
    padding: 10px;
    justify-self: center;
    background: #00315d;
    grid-area: conc;
}

.grid-item-exp__lab {
    width: 500px;
    height: 230px;
    padding: 10px;
    justify-self: center;
    background: #00315d;
    grid-area: lab;
}

.grid-item-exp__ed h2, .grid-item-exp__conc h2,.grid-item-exp__lab h2 {
    text-align: center;
}

.grid-item-exp__ed h2::after, .grid-item-exp__conc h2::after,.grid-item-exp__lab h2::after, .flex-container-port h2::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 90%;
    padding-top: 5px;
    border-bottom: 2px solid #fff;
    margin-bottom: 5px;
}

.flex-container-port {
    width: 500px;
    display: flex;
    margin: auto;
    margin-top: 120px;
}


.flex-container-port h2 {
    position:absolute;
    margin-top: -50px;
    left: 45%;
}

.flex-container-port__item-github img, .flex-container-port__item-itch img, .flex-container-port__item-drive, .flex-container-port__item-drive img{
    align-self: center;
    width: 100%;
    padding: 3px;
}

@media only screen and (min-width: 1369px) {
    .flex-container-home__about {
        margin-top: 100px;
        margin-left: 250px;
        margin-right: 100px;
    }

    .flex-container-home__button {
        position: absolute;
        left: 27%;
        margin: 50px 0px;
    }

    .flex-container-home__img {
        position: relative;
        left: -5%;
    }

    .flex-container-port h2 {
        left: 47%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1184px) {
    .flex-container-home__img {
        margin: auto;
        margin-left: 40%;
    }

    .flex-container-home__about {
        margin-top: 100px;
    }

    .flex-container-home__button {
        top: 445px;
        left: 45%;
        margin: auto;
    }
}

@media only screen and (max-width: 767px){
    .nav__ul {
        display: none;
    }
    .nav {
        height: 40px;
        width: 100%;
    }
    .nav__responsive-ul {
        display: block;
        width: 100%;
        text-align: left;
        position: absolute;
        margin-top: 10px;
        height: 40px;
    }

    .nav__responsive-ul__li-container {
        position: relative;
        z-index: 10;
        top: -3000px;
        height: 130vh;
        background-color: #012a4e; 
        width: 65%;
        padding-top: 20px;
        transition: all 1s;
    }

    .nav__responsive-ul:hover > .nav__responsive-ul__li-container {
        display: block;
        top: 29px;
    }

    .flex-container-home {
        flex-direction: column;
        width: 100%;
    }

    .flex-container-home__img {
        margin: auto;
    }

    .flex-container-home__button {
        height: 70px;
        top: 445px;
        left: 30%;
        margin: auto;
    }

    .flex-container-home__about {
        margin: auto;
        margin-top: 100px;
        text-align: center;
        width: 280px;
        height: 570px;
    }

    .flex-container-home__about-info-post-p1 {
        padding: 5px;
        text-align: start;
    }

    .grid-container-hab {
        margin-top: 30px;
        grid-template-rows: (4, 1fr);
        grid-template-columns: (2, 1fr);
        grid-template-areas: "tec tec" 
                            "prof prof"
                            "hob hob" 
                            "idiom idiom";
    }

    .grid-item-hab__tec, .grid-item-hab__prof, .grid-item-hab__hob, .grid-item-hab__idiom {
        width: 280px;
    }

    .grid-item-hab__tec-mot {
        width: 50%;
    }

    .grid-item-hab__hob, .grid-container-hab__idiom {
        height: 150px;
    }

    .grid-item-hab__prof ul, .grid-item-hab__hob ul, .grid-item-hab__idiom ul {
        margin-left: 25px;
    }

    .grid-item-hab__prof h2 {
        padding: 1px;
    }

    .grid-container-exp {
        margin-top: 30px;
        grid-template-rows: (3, 1fr);
        grid-template-columns: (2, 1fr);
        grid-template-areas: "ed ed" 
                            "conc conc"
                            "lab lab";
    }

    .grid-item-exp__ed, .grid-item-exp__conc, .grid-item-exp__lab {
        width: 300px;
        height: 320px;
        padding: 10px;
    }

    .flex-container-port {
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 120px;
        margin-bottom: 120px;
        height: 450px;
        width: 150px;
        text-align: center;
    }

    .flex-container-port__item-github img, .flex-container-port__item-itch img, .flex-container-port__item-drive{
        width: 150px;
        padding: 3px;
    }

    .flex-container-port h2 {
        position: static;
    }

}