* {
    font-family: 'Lato', sans-serif;
    color: #fff;
}

@keyframes barAnim {
    from {
        width: 0%;
    }

    to {
        width: 95%;
    }

}

@keyframes barAnim2 {
    from {
        width: 0%;
    }

    to {
        width: 40%;
    }

}

@keyframes filter {
    from {
        width: 550px;
        height: 550px;
    }

    to {
        width: 600px;
        height: 560px;
    }
}

@keyframes filterResp {
    from {
        width: 350px;
        height: 400px;
    }

    to {
        width: 400px;
        height: 450px;
    }
}

@keyframes filter2 {
    from {
        filter: saturate(50%);
    }
    to {
        filter: saturate(100%);
    }
}

body {
    background: #a0c7ee;
    height: 105vh;
}

header {
    display: block;
    width: 600px;
    height: 55px;
    background: #0049b2;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}
h1 {
    text-align: center;
    padding: 5px;
}

h1::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 0%;
    padding-top: 5px;
    border-bottom: 2px;
    animation-name: barAnim;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    border-bottom: solid #fff;
}

.flex-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.flex-item {
    width: 550px;
    height: 550px;
    background: #0049b2;
    text-align: center;
    margin: auto;
    border-radius: 10px;
    margin-top: 20px;
}

.flex-item:hover{
    animation-name: filter;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.flex-item h2, .flex-item p {
    padding-top: 9px;
}

.flex-item h2::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 0%;
    padding-top: 5px;
    border-bottom: 2px;
}

.flex-item:hover > h2::after {
    animation-name: barAnim2;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    border-bottom: solid #fff;
}

.flex-item img{
    padding-top: 30px;
    width: 500px;
    height: 450px;
    filter: saturate(50%);
    object-fit: cover;
}

.flex-item:hover > a img {
    animation-name: filter2;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@media only screen and (max-width: 768px) {
    header {
        width: 350px;
        height: 100px;
    }
    .flex-item {
        width: 350px;
        height: 400px;
    }

    .flex-item:hover{
        animation-name: filterResp;
        animation-duration: 3s;
        animation-fill-mode: forwards;
    }

    .flex-item img {
        width: 300px;
        height: 300px;
    }
}