* {
    font-family: 'Lato', sans-serif;
    font-weight: 100px;
    color: #fff;
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-padding, 100px);
}

body {
    background: #a2c9f0;
    width: 100%;
}

@keyframes barAnim {
    from {
        width: 0%;
    }

    to {
        width: 90%;
    }

}

@keyframes barAnim2 {
    from {
        width: 0%;
    }

    to {
        width: 9%;
    }

}

@keyframes barAnim3 {
    from {
        width: 0%;
    }

    to {
        width: 15%;
    }

}

@keyframes barAnim4 {
    from {
        width: 0%;
    }

    to {
        width: 45%;
    }

}

@keyframes barAnim5 {
    from {
        width: 0%;
    }

    to {
        width: 30%;
    }

}

@keyframes standOut {
    30% {
        text-shadow: 3px 0 #1a5;
    }
}

.nav {
    display: inline-block;
    position: fixed;
    z-index: 50;
    top: 0;
    height: 50px;
    width: 100%;
    background: #0049b2;
    text-align: center;
}

.nav__responsive-ul__button-container {
    position: absolute;
    z-index: 30;
    background: #0049b2;
    width: 100%;
    font-size: 20px;
}

.nav__responsive-ul__button {
    width: 100%;
    padding: 0px 9px;
}

.nav__responsive-ul {
    display: none;
}

.nav__responsive-ul__li {
    width: 100%;
    color: #fff;
    font-size: 25px;
    padding: 20px;
}

.nav__ul-li {
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    margin-top: 3px;
    padding: 9px;
}

.nav__ul-li a, .nav__responsive-ul__li a {
    text-decoration: none;
}

.nav__responsive-ul__li a:hover {
    border-bottom: 2px solid #fff;
    padding-bottom: 3px;
}

.nav__ul-li a:hover{
    border-bottom: 2px solid #fff;
    padding-bottom: 3px;
}

.flex-container-home {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    margin-top: 100px;
    max-width: 1500px;
}

.flex-container-home__img-container {
    display: flex;
    flex: 1;
    padding: 10px;
    min-width: 250px;
    max-width: 500px;
    margin: auto;
    justify-content: center;
}

.flex-container-home__img {
    width: 250px;
    border: 20px solid #003d74;
    border-radius: 50%;
}

.flex-container-home__button {
    position: relative;
    top: 340px;
    left: -40%;
    max-width: 150px;
    height: 60px;
    border: none;
    background: #0049b2;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
}

a[download = "Resume"] {
    display: inline-block;
    height: 60px;
    padding: 5px;
    line-height: 45px;
    vertical-align: middle;
    text-decoration: none;
}

.flex-container-home__button:hover, .form-item-mailmsg__input[type = "submit"]:hover {
    cursor: pointer;
    box-shadow: 0px 3px 0 #1a5;
}

.flex-container-home__button:active, .form-item-mailmsg__input[type = "submit"]:active {
    background: #013f96;
}

.flex-container-home__button:focus, .form-item-mailmsg__input[type = "submit"]:focus {
    background: linear-gradient(to bottom, #0049b2, #013f96);
}

.flex-container-home__about {
    max-width: 600px;
    margin-right: 70px;
    background: #003d74;
    border-radius: 10px;
}

.flex-container-home__about h1 {
    text-align: center;
}

.flex-container-home__about h2 {
    text-align: center;
    font-size: 20px;
}

.flex-container-home__about h2::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 0%;
    padding-top: 5px;
    border-bottom: 2px;
}

.flex-container-home__about:hover > h2::after {
    animation-name: barAnim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    border-bottom: solid #fff;
}

.flex-container-home__about-info {
    margin-top: 15px;
}

.flex-container-home__about-info h3 {
    margin: 5px 0px;
    margin-left: 5px;
    display: inline-block;
    border-bottom: 2px solid #fff;
}

.flex-container-home__about-info-p1 {
    padding: 5px;
}

.flex-container-home__about-info-p1::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 90%;
    padding-top: 20px;
    border-bottom: 2px solid #fff;
}

.flex-container-home__about-info-post-p1 {
    padding-top: 20px;
    padding-bottom: 5px;
}

.flex-container-home__about-info-post-p1 h3 {
    margin-left: 5px;
}

.flex-container-home__about-info-post-p1-p {
    text-align: center;
    display: inline;
}

.grid-container-ski {
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: (2, 1fr);
    grid-template-areas: "tec prof"
                         "hob spkLang";
    grid-gap: 20px;
}

.grid-item-ski__tec {
    display: grid;
    justify-self: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: (2, 1fr);
    grid-template-areas: "ts ts"
                         "lan eng";
    width: 500px;
    height: 210px;
    padding-right: 10px;
    padding-top: 10px;
    grid-area: tec;
    background: #003d74;
    border-radius: 10px;
}

.grid-item-ski__tec-ts {
    grid-area: ts;
}

.grid-item-ski__tec-lan {
    margin-left: 40px;
    grid-area: lan;
}

.grid-item-ski__tec-lan h3 {
    display: inline-block;
    padding: 3px 0px;
    border-bottom: 2px solid #fff;
}

.grid-item-ski__tec-eng {
    margin-left: 30px;
    grid-area: eng;
}

.grid-item-ski__tec-eng h3 {
    display: inline-block;
    padding: 3px 0px;
    border-bottom: 2px solid #fff;
}

.grid-item-ski__tec-eng ul, .grid-item-ski__tec-lan ul {
    padding-top: 6px;
}

.grid-item-ski__prof {
    grid-area: prof;
    align-self: center;
    justify-self: center;
    width: 500px;
    height: 210px;
    padding-top: 10px;
    background: #003d74;
    border-radius: 10px;
}

.grid-item-ski__hob {
    grid-area: hob;
    align-self: center;
    justify-self: center;
    width: 500px;
    height: 180px;
    padding-top: 5px;
    background: #003d74;
    border-radius: 10px;
}

.grid-item-ski__spkLang {
    grid-area: spkLang;
    align-self: center;
    justify-self: center;
    width: 500px;
    height: 180px;
    padding-top: 5px;
    background: #003d74;
    border-radius: 10px;
}

.grid-item-ski__spkLang ul li a, .grid-item-exp__comp h3 a {
    text-decoration: none;
    animation: standOut 3s infinite;

}

.grid-item-ski__spkLang ul li a:hover {
    font-weight: bold;
}

.grid-item-exp__comp h3 a:hover::after {
    content: "";
    display: block;
    width: 0%;
    padding-top: 5px;
    border-bottom: 2px;
    animation-name: barAnim4;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    border-bottom: solid #fff;
}

.grid-item-ski__tec-ts, .grid-item-ski__prof h2, .grid-item-ski__hob h2, .grid-item-ski__spkLang h2 {
    text-align: center;
}

.grid-item-ski__tec h2::after, .grid-item-ski__prof h2::after, .grid-item-ski__hob h2:after, .grid-item-ski__spkLang h2::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 0%;
    padding-top: 5px;
    border-bottom: 2px;
}

.grid-item-ski__tec:hover > h2::after, .grid-item-ski__prof:hover > h2::after, .grid-item-ski__hob:hover > h2:after, .grid-item-ski__spkLang:hover > h2::after {
    animation-name: barAnim;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    border-bottom: solid #fff;
}

.grid-item-ski__prof ul, .grid-item-ski__hob ul, .grid-item-ski__spkLang ul {
    margin-top: 10px;
    margin-left: 40px;
}

.grid-container-exp {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: (2, 1fr);
    grid-template-areas: "ed comp"
                         "work work";
    grid-gap: 20px;
}

.grid-item-exp__ed {
    width: 500px;
    height: 230px;
    padding: 10px;
    justify-self: center;
    background: #003d74;
    grid-area: ed;
    border-radius: 10px;
}

.grid-item-exp__comp {
    width: 500px;
    height: 230px;
    padding: 10px;
    justify-self: center;
    background: #003d74;
    grid-area: comp;
    border-radius: 10px;
}

.grid-item-exp__work {
    width: 500px;
    height: 230px;
    padding: 10px;
    justify-self: center;
    background: #003d74;
    grid-area: work;
    border-radius: 10px;
}

.grid-item-exp__ed h2, .grid-item-exp__comp h2,.grid-item-exp__work h2 {
    text-align: center;
}

.grid-item-exp__ed h2::after, .grid-item-exp__comp h2::after,.grid-item-exp__work h2::after, .flex-container-port h2::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 0%;
    padding-top: 5px;
    border-bottom: 2px;
    margin-bottom: 5px;
}

.grid-item-exp__ed:hover > h2::after, .grid-item-exp__comp:hover > h2::after,.grid-item-exp__work:hover > h2::after, .flex-container-port:hover > h2::after {
    animation-name: barAnim;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    border-bottom: solid #fff;
}

.flex-container-port {
    width: 500px;
    display: flex;
    margin: auto;
}

.flex-container-port h2 {
    position: absolute;
    margin-top: -50px;
    left: 45%;
}

.flex-container-port__item-github img, .flex-container-port__item-itch img, .flex-container-port__item-drive, .flex-container-port__item-drive img{
    align-self: center;
    width: 100%;
    padding: 3px;
}

#port, #cont {
    margin-top: 120px;
}

#port h2, #cont h2 {
    text-align: center;
}

#port h2::after, #cont h2::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 9%;
    padding-top: 2px;
    margin-bottom: 10px;
    border-bottom: 2px;
}

.flex-container-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 0px 30px;
    margin-bottom: 120px;
}

.flex-container-cont a {
    text-decoration: none;
}

.flex-item-cont__phn {
    width: 300px;
    height: 250px;
    background: #003d74;
    padding: 20px 0px;
    text-align: center;
    border-radius: 10px;
}

.flex-item-cont__phn h3 {
    margin-top: 10px;
}

.flex-item-cont__mail {
    width: 300px;
    height: 250px;
    background: #003d74;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.flex-item-cont__mail img {
    width: 60%;
}

.flex-item-cont__loc {
    width: 300px;
    height: 250px;
    background: #003d74;
    padding: 25px;
    text-align: center;
    border-radius: 10px;
}

.flex-item-cont__loc img {
    width: 35%
}

.flex-item-cont__mail h3, .flex-item-cont__loc h3, .flex-item-cont__linkedIn h3 {
    margin-top: 9px;
}

.flex-item-cont__linkedIn {
    width: 300px;
    height: 250px;
    background: #003d74;
    padding: 35px 0px;
    text-align: center;
    border-radius: 10px;
}

.flex-item-cont__phn img, .flex-item-cont__linkedIn img, .flex-item-cont__twitter img {
    width: 50%;
}

.flex-item-cont__twitter {
    width: 300px;
    height: 250px;
    background: #003d74;
    padding: 50px 0px;
    text-align: center;
    border-radius: 10px;
}

.flex-item-cont__twitter h3 {
    margin-top: 15px;
}


.flex-container-mailmsg {
    display: flex;
    flex-flow: row wrap;
    height: 50%;
    margin: auto;
    outline: 3px solid #fff;
    max-width: 700px;
}

.flex-item-mailmsg__form {
    min-width: 400px;
    text-align: center;
    flex: 1;
    padding: 30px;
}

.flex-item-mailmsg__formSectionRow {
    display: flex;
    justify-content: center;
}

.flex-item-mailmsg__formSectionName {
    float: left;
}

.flex-item-mailmsg__formSectionSurname {
    float: right;
}

.form-item-mailmsg__input {
    border: none;
    padding: 15px;
    margin: 6px;
    color: #000;
}

.flex-item-mailmsg__formSection textarea {
    min-width: 500px;
    height: 200px;
    resize: none;
}

.form-item-mailmsg__input[type = "mail"] {
    width: 300px;
}

.form-item-mailmsg__input[type = "submit"] {
    width: 150px;
    height: 60px;
    color: #fff;
    font-weight: bold;
    background: #0049b2;
    border-radius: 10px;
}

.footer-copyright {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 70px;
    margin-bottom: 20px;
    width: 100%;
}

.footer-copyright h4 {
    margin-left: 30px;
}

.footer-copyright-links {
    margin-right: 80px;
    margin-top: -50px;
}

.footer-copyright-links img {
    float: right;
    margin: 5px;
    padding: 3px;
    width: 4%;
}

.footer-copyright-links img[title = "Twitter"] {
    padding-top: 7px;
}

@media only screen and (min-width: 1369px) {

    .flex-container-home__about {
        margin-top: 100px;
    }

    .flex-container-home__about-info {
        margin-right: 0;
    }

    .form-item-mailmsg__input {
        padding: 20px;
        font-size: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    #port:hover > h2::after, #cont:hover > h2::after {
    animation-name: barAnim2;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    border-bottom: solid #fff;
    }
}


@media only screen and (min-width: 1024px) and (max-width: 1169px) {
    @keyframes barAnim3 {
        from {
            width: 0%;
        }
    
        to {
            width: 15%;
        }
    
    }
    .flex-container-home {
        flex-wrap: wrap;
    }

    .flex-container-home__img-container {
        margin-left: 30px;
    }

    .flex-container-home__button {
        min-width: 150px;
    }
    
    .flex-container-home__about {
        margin: auto;
        margin-top: 100px;
        margin-right: 30px;
    }

    .flex-container-home__about-info {
        padding: 10px;
    }

    .grid-container-ski {
        margin-top: 30px;
        grid-template-rows: (4, 1fr);
        grid-template-columns: (2, 1fr);
        grid-template-areas: "tec tec" 
                            "prof prof"
                            "hob hob" 
                            "spkLang spkLang";
    }

    .grid-container-exp {
        margin-top: 30px;
        grid-template-rows: (3, 1fr);
        grid-template-columns: (2, 1fr);
        grid-template-areas: "ed ed" 
                            "comp comp"
                            "work work";
    }

    #port h2::after, #cont h2::after {
        width: 0%;
        animation-name: barAnim3;
        animation-duration: 3s;
        animation-fill-mode: forwards;
    }

    .footer-copyright-links img {
        width: 8%;
    }

}

@media only screen and (min-width: 1024px) and (max-width: 1040px) {
    .flex-container-home__button {
        left: -50%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .flex-container-home__about h2::after {
        animation-name: barAnim;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        border-bottom: 2px solid #fff;
    }
    
    .grid-item-exp__ed h2::after, .grid-item-exp__comp h2::after,.grid-item-exp__work h2::after, .flex-container-port h2::after, .grid-item-ski__tec h2::after, .grid-item-ski__prof h2::after, .grid-item-ski__hob h2:after, .grid-item-ski__spkLang h2::after {
        animation-name: barAnim;
        animation-duration: 3s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        border-bottom: 2px solid #fff;
    }

    .flex-container-home {
        flex-flow: column wrap;
    }
    
    .flex-container-home__about {
        margin: auto;
        margin-top: 100px;
    }

    .flex-container-home__button {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(240%, 450px);
    }

    .flex-container-home__about-info {
        padding: 10px;
    }

    .grid-container-ski {
        margin-top: 30px;
        grid-template-rows: (4, 1fr);
        grid-template-columns: (2, 1fr);
        grid-template-areas: "tec tec" 
                            "prof prof"
                            "hob hob" 
                            "spkLang spkLang";
    }

    .grid-container-exp {
        margin-top: 30px;
        grid-template-rows: (3, 1fr);
        grid-template-columns: (2, 1fr);
        grid-template-areas: "ed ed" 
                            "comp comp"
                            "work work";
    }

    #port h2::after, #cont h2::after {
        animation-name: barAnim3;
        animation-duration: 3s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        border-bottom: 2px solid #fff;
    }

    .footer-copyright-links img {
        width: 8%;
    }

}

@media only screen and (max-width: 767px){
    * {
        font-weight: 50px;
    }

    .flex-container-home__about h2::after {
        animation-name: barAnim;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        border-bottom: 2px solid #fff;
    }

    .grid-item-exp__ed h2::after, .grid-item-exp__comp h2::after, .grid-item-exp__work h2::after, .flex-container-port h2::after, .grid-item-ski__tec h2::after, .grid-item-ski__prof h2::after, .grid-item-ski__hob h2:after, .grid-item-ski__spkLang h2::after {
        animation-name: barAnim;
        animation-duration: 3s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        border-bottom: 2px solid #fff;
    }


    .grid-item-exp__comp h3 a:hover::after {
        animation-name: barAnim4;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        border-bottom: 2px solid #fff;
    }

    .nav__ul {
        display: none;
    }
    .nav {
        height: 40px;
        width: 100%;
    }
    .nav__responsive-ul {
        display: block;
        width: 100%;
        text-align: left;
        position: absolute;
        margin-top: 10px;
        height: 40px;
    }

    .nav__responsive-ul__li-container {
        position: relative;
        z-index: 10;
        top: -3000px;
        height: 130vh;
        background-color: #003d72; 
        width: 65%;
        padding-top: 20px;
        transition: all 1s;
    }

    .nav__responsive-ul:hover > .nav__responsive-ul__li-container {
        display: block;
        top: 29px;
    }

    .flex-container-home {
        flex-direction: column;
        width: 100%;
    }

    .flex-container-home__button {
        position: absolute;
        width: 140px;
        height: 70px;
        top: 445px;
        left: 37%;
        font-size: 15px;
    }

    .flex-container-home__about {
        margin: auto;
        margin-top: 100px;
        text-align: center;
        min-width: 280px;
        max-width: 600px;
        min-height: 570px;
        padding: 10px;
    }

    .flex-container-home__about-info-post-p1 {
        padding: 5px;
        text-align: start;
    }

    .grid-container-ski {
        margin-top: 30px;
        grid-template-rows: (4, 1fr);
        grid-template-columns: (2, 1fr);
        grid-template-areas: "tec tec" 
                            "prof prof"
                            "hob hob" 
                            "spkLang spkLang";
    }

    .grid-item-ski__tec, .grid-item-ski__prof, .grid-item-ski__hob, .grid-item-ski__spkLang {
        width: 280px;
    }

    .grid-item-ski__tec-eng {
        width: 50%;
    }

    .grid-item-ski__hob, .grid-container-ski__spkLang {
        height: 220px;
    }

    .grid-item-ski__prof ul, .grid-item-ski__hob ul, .grid-item-ski__spkLang ul {
        margin-left: 25px;
    }

    .grid-item-ski__prof h2 {
        padding: 1px;
    }

    .grid-container-exp {
        margin-top: 30px;
        grid-template-rows: (3, 1fr);
        grid-template-columns: (2, 1fr);
        grid-template-areas: "ed ed" 
                            "comp comp"
                            "work work";
    }

    .grid-item-exp__ed, .grid-item-exp__comp, .grid-item-exp__work {
        width: 300px;
        height: 320px;
        padding: 10px;
    }

    .flex-container-port {
        flex-direction: column;
        flex-wrap: wrap;
        height: 450px;
        width: 150px;
        text-align: center;
    }

    .flex-container-port__item-github img, .flex-container-port__item-itch img, .flex-container-port__item-drive{
        width: 150px;
        padding: 3px;
    }

    #port h2::after, #cont h2::after {
        border-bottom: 2px solid #fff;
        animation-name: barAnim5;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
    }

    .flex-container-port h2 {
        position: static;
    }

    .flex-container-cont {
        padding: 20px;
    }

    .flex-item-cont__phn, .flex-item-cont__mail, .flex-item-cont__loc, .flex-item-cont__linkedIn, .flex-item-cont__twitter {
        min-width: 250px;
    }

    .flex-container-mailmsg {
        min-width: 280px;
        outline: none;
        border: 3px solid #fff;
        padding: 20px;
    }

    .flex-item-mailmsg__form {
        min-width: 250px;
        padding: 0px;
    }

    .flex-item-mailmsg__formSectionRow {
        flex-direction: column;
    }

    .flex-item-mailmsg__formSectionName {
        float: none;
    }

    .flex-item-mailmsg__formSectionSurname {
        float: none;
    }

    .form-item-mailmsg__input {
        width: 50%;
    }

    .form-item-mailmsg__input[type = "mail"] {
        width: 200px;
    }

    .flex-item-mailmsg__formSection textarea {
        min-width: 230px;
        height: 150px;
    }

    .form-item-mailmsg__input[type = "submit"] {
        min-width: 120px;
        height: 60px;
    }

    .footer-copyright {
        flex-direction: column;
    }

    .footer-copyright h4 {
        text-align: center;
        margin-left: 10px;
    }

    .footer-copyright-links  {
        text-align: center;
        margin: 0 auto;
    }

    .footer-copyright-links img {
        float: none;
        width: 12%;
        margin: 3px 10px;
    }
}